{% extends 'Base/Base.html' %}

{% block NavCategory %}
<li class="nav-item active">
{% endblock NavCategory %}

{% block content %}
<div class="title">Phân loại</div>
<div class="add-block funcblock">
  <div class="row">
    <div style="background: #fff; border-radius: 10px">
      <div class="part-title">Thêm thể loại</div>
      <div class="col-lg-8 d-flex flex-column">
        <form class="form" action="addCategory">
          <div class="part-form">
            <lable for="name">
              Category name: 
            </lable>
            <div class="input-field">
              <input type="text" style="border: none" name="name" placeholder="Type in here">
            </div>
          </div>
          
          <div class="part-form">
            <div class="input-field" style="text-align: right">
              <input type="submit" name="Add" Value="Add">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="edit-block funcblock">
  <div class="row">
    <div style="background: #fff; border-radius: 10px">
      <div class="part-title">Sửa thể loại</div>
      <div class="col-lg-8 d-flex flex-column">
        <form class="form" action="editCategory">
          <div class="part-form">
            <lable for="name">
              Category id: 
            </lable>
            <div class="input-field"  style="display: inline-block;">
              <select name="id" id="Cate_Selector">
                <option>Select a id</option>
                {% for category in categories %}
                <option value="{{category.id}}">{{category.id}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="part-form notshow selCom">
            <lable for="name">
              Category name: 
            </lable>
            <div class="input-field">
              <input type="text" style="border: none;" class="selCom" name="name" value="">
              {% comment %} {% for category in categories %}
              <input type="text" style="border: none;" class="catename selCom" name="name" value="{{category.name}}">
              {% endfor %} {% endcomment %}
            </div>
          </div>
          
          <div class="part-form">
            <div class="input-field" style="text-align: right">
              <input type="submit" name="Delete" Value="Delete">
              <input type="submit" name="Edit" Value="Edit">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="view-block funcblock">
  <div class="row">
    <div style="background: #fff; border-radius: 10px">
      <div class="part-title">Xem thể loại</div>
      <div class="col-lg-8 d-flex flex-column">
        <form class="form" action="allCategory">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>
                {% for category in categories %}
                <tr>
                  <td>{{category.id}}</td>
                  <td>{{category.name}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% block scroll %}
{% endblock scroll%}
{% endblock content %}
