{% extends 'webclient/Base/Base.html' %}

{% block content %}

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Shop Detail</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active">Shop Detail </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Shop Detail  -->
    <div class="shop-detail-box-main">
        <div class="container">
            <div class="row">
                
                <div class="col-xl-12 col-lg-7 col-md-6">
                    <div class="alert alert-secondary" role="alert" style="text-align: center; font-size: 40px">
                        Not found this product.
                        <br>
                        Maybe this product have been removed.
                    </div>
                </div>
            </div>
			

        </div>
    </div>
    <!-- End Cart -->

{% endblock content %}
